<%- include('includes/head.ejs') %>
</head>

<%- include('includes/navigation.ejs') %>
        <div class="list-header">
            <h1>Something went wrong</h1>
            <h2>error code: 500</h2>
            <h3>Internal error occurred:</h3>
            <h4><%= errorMessage %></h4>
            <p>We're working on fixing this, sorry for the inconvenience!</p>
        </div>
<%- include('includes/end.ejs') %>